/* Meyer reset + form reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

span {
    width: 0;
}

* {
    box-sizing: border-box;
}
/* End of Meyer reset + form reset */
@font-face {
    font-family: "norse bold";
    src: url("./Norse-Bold.otf");
}

:root {
    --button-color: #596D48;
    --input-border: #E5E7EB;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.container .side {
    width: 37.3%;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-color: var(--button-color, olive);

    position: relative;
}

.side .logo {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    width: 100%;

    position: absolute;
    top: 15rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 6rem;
    height: auto;
}

.logo .logo-text {
    font-family: "norse bold", sans-serif;
    color: white;
    font-size: 6rem;
}

.side .referral {
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;

    position: absolute;
    bottom: 0;
}

.referral a:link,
.referral a:visited,
.referral a:hover,
.referral a:visited {
    color: white;
}

.container .main {
    width: 62.7%;
}